@import '../../App.scss';

.forum-detail-page {
  @include page();

  @include breakpoint(md) {
    margin-left: 0;
  }

  .forum-detail-container {
    @include post-container();
    gap: 3rem;

    .comment-post {
      @include post-container();
      gap: 1rem;
    }
  }
}
