@import '../../App.scss';

a {
  color: black;
  text-decoration: none;
}

.forum-post-card {
  transition: all 0.2s;

  &:hover {
    cursor: pointer;
    transform: scale(1.02);
  }
}

.post-card {
  @include card-style();
  flex-direction: column;
}
