@import "../../App.scss";

.sidebar {
  background-color: $Light;
  top: 10vh;
  position: fixed;
  width: 18%;
  height: 90vh;
  border-right: 1px solid $Border;
  @include breakpoint(md) {
    display: block;
    width: 50%;
    z-index: 112;
    top: 0;
    height: 100vh;
    transform: translateX(-100%);
    transition: all 0.4s;
  }

  .SidebarList {
    height: auto;
    width: 100%;
    padding: 0;
  }
  #active {
    background-color: $Border;
    border-right: 2px solid $Primary;
    margin-left: 1px;
  }
  .row {
    width: 100%;
    height: 3.125em;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    color: $TitleText;
    justify-content: center;
    align-items: center;
    &:hover {
      cursor: pointer;
      background-color: $Border;
      border-right: 2px solid $Primary;
      margin-left: 1px;
    }
    #icon {
      flex: 30%;
      display: grid;
      place-items: center;
    }
    #title {
      flex: 70%;
    }
  }
}

.sidebar-open {
  transform: translateX(0);
}
