@import "../../App.scss";

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $Light;
  position: relative;
  @include breakpoint(md) {
    flex-direction: column;
  }
  .form-login {
    width: 40%;
    height: 100vh;
    background-color: $Border;
    position: relative;
    align-items: center;
    display: flex;
    @include breakpoint(md) {
      width: 100%;
    }
    .form {
      // background-color: aqua;
      width: 60%;
      margin: 0 auto;
      @include breakpoint(md) {
        width: 80%;
      }
      form {
        width: 100%;
        button {
          @include button($Primary, $Light);
        }
      }
      h2 {
        transform: translateX(0);
        padding: 1rem 0;
        font-size: 2rem;
      }

      p {
        padding: 1rem 0;
      }
    }
  }
  .gambar {
    width: 60%;
    height: 100vh;
    background-image: url("./login.svg");
    background-size: cover;
    @include breakpoint(md) {
      display: none;
    }
  }
}
