@import '../../App.scss';

@import '../../App.scss';

.notif {
  // margin-left: 18%;
  // margin-top: 10vh;
  // width: 100%;
  @include page();
  @include breakpoint(md) {
    @include page();
    margin-left: 0;
    padding: 1rem;
  }
  padding: 2rem;
  flex-direction: column;
  .header {
    @include card-style();
    box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    justify-content: space-between;
    align-items: center;
    .read {
      color: $Secondary;
      cursor: pointer;
    }
  }

  .notif-info {
    @include card-style();
    box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.1);
    &:hover {
      background-color: #f3fafe;
    }
    // flex-direction: column;
    .user {
      color: $Primary;
    }

    .user-komen {
      font-weight: 390;
    }
    .time {
      margin-top: 0.5rem;
      color: $Secondary;
      font-weight: 390;
    }

    .badge {
      position: absolute;
      width: 0.6rem;
      height: 0.6rem;
      background-color: $Secondary;
      border-radius: 50%;
    }
  }
  .info-read {
    background-color: #f3fafe;
  }
}
