@import '../../App.scss';

.post-form-page {
  @include page();

  @include breakpoint(md) {
    margin-left: 0;
  }

  .post-form-container {
    @include post-container();
    gap: 3rem;
  }

  .post-form {
    @include card-style();
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .input-section {
      @include post-container();
      gap: 0;

      .input-container {
        width: 100%;

        .image-desc span {
          font-size: 0.9rem;
          color: $SubTitleText;
        }

        input,
        select,
        textarea {
          @include input();
          resize: none;

          option {
            font-family: $Roboto;
          }
        }
      }
    }
  }
}
